/* CSS declarations go here */

/* 

Suggested fix from  https://github.com/meteor/meteor/issues/1059
But... doesn't fix.

*/

/*.dontTrigger :hover{
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.dontTrigger input:hover{
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.dontTrigger {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
*/